@use 'variables' as *;

.pricing-items{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .single-pricing-wrapper{
    flex-wrap: wrap;
    .single-pricing{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1 1 auto;        /* allow it to grow evenly */
      height: 100%;          /* equalize height across all */
      padding: 2rem;
      border-radius: 30px !important;
      border-bottom: 5px solid #585978 !important;
      background: #fff;
      box-shadow: 5px 18px 130px rgba(0, 0, 0, 0.05) !important;
      transition: all 0.5s ease, box-shadow 0.3s ease;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
        box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
        border-bottom-color: $primary !important;

      }
    }
  }
}

@media (max-width: $bp-md) {
  .pricing-items{
    border: 3px solid deepskybue;
    flex-direction: column;

  }
}